<template>
  <ul class="catalog__list">
    <product-item 
      v-for="(item, index) in products" 
      :item="item"
      :index="index"
      :key="item.index"
    />
  </ul>
</template>

<script>
import ProductItem from './ProductItem.vue';

export default {
  name: 'ProductList',
  props: ['products'],
  components: {
    ProductItem
  },
}
</script>